{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" href="{% static 'style.css' %}">

<img style="max-width: 800px; width: 100%; height: auto;" src="{% static 'top8sLogo.png' %}">  
<form action="{% url 'submit' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label>What event is this for?</label>
        <div>
            <input type="radio" id="smashatuva" name="event_type" value="smashatuva" checked onclick="changeEvent()">
            <label for="smashatuva">Smash @ UVA</label>
        </div>
        <div>
            <input type="radio" id="thecut" name="event_type" value="thecut" onclick="changeEvent()">
            <label for="smashatuva">The CUT</label>
        </div>
    </fieldset>

    <fieldset id="dynamic_fieldset">
        <label>Semester:</label>
        <div>
            <input type="radio" id="uva_fall" name="semester" value="uva_fall" checked>
            <label for="uva_fall">Fall</label>
        </div>
        <div>
            <input type="radio" id="uva_spring" name="semester" value="uva_spring">
            <label for="uva_spring">Spring</label>
        </div>
        <label>What # Smash@UVA is this (for the semester)?</label><br>
        <input type="number" name="event_number" label="Event Number" id="event_number" required>
        <br>
        <label>Event Date:</label><br>
        <input type="date" name="event_date" id="event_date" required><br>
        <label>Number of Participants:</label><br>
        <input type="number" name="participants" id="participants" required>
    </fieldset>
    <div class="grid-container">
        {% for i in indexes %}
        <fieldset class="grid-item">
            <h2>Player {{ i }}</h2>
            <div>
                <label>Player Name (with tags)</label><br>
                <sub>Ex: BN/KML|John Lion</sub><br>
                <input type="text" name="player{{ i }}_name" maxlength="40" label="Player{{ i }} Name" required="True" id="player{{ i }}_name">
            </div>
            <div>
                <label>X/Twitter Handle (optional)</label><br>
                <input type="text" name="player{{ i }}_handle" minlength="4" maxlength="15" label="Player{{ i }} Handle" id="player{{ i }}_handle">
            </div>
            <div>
                <label>Primary Character</label><br>
                <select name="player{{ i }}_primary" label="Player{{ i }} Primary" required id="player{{ i }}_primary" onchange="updateAlts('player{{ i }}_primary', 'player{{ i }}_alt')">
                    <option value="Random">Random</option>
                    <option value="Banjo &amp; Kazooie">Banjo &amp; Kazooie</option>
                    <option value="Bayonetta">Bayonetta</option>
                    <option value="Bowser">Bowser</option>
                    <option value="Bowser Jr">Bowser Jr</option>
                    <option value="Byleth">Byleth</option>
                    <option value="Captain Falcon">Captain Falcon</option>
                    <option value="Chrom">Chrom</option>
                    <option value="Cloud">Cloud</option>
                    <option value="Corrin">Corrin</option>
                    <option value="Daisy">Daisy</option>
                    <option value="Dark Pit">Dark Pit</option>
                    <option value="Dark Samus">Dark Samus</option>
                    <option value="Diddy Kong">Diddy Kong</option>
                    <option value="Donkey Kong">Donkey Kong</option>
                    <option value="Dr Mario">Dr Mario</option>
                    <option value="Duck Hunt">Duck Hunt</option>
                    <option value="Falco">Falco</option>
                    <option value="Fox">Fox</option>
                    <option value="Ganondorf">Ganondorf</option>
                    <option value="Greninja">Greninja</option>
                    <option value="Hero">Hero</option>
                    <option value="Ice Climbers">Ice Climbers</option>
                    <option value="Ike">Ike</option>
                    <option value="Incineroar">Incineroar</option>
                    <option value="Inkling">Inkling</option>
                    <option value="Isabelle">Isabelle</option>
                    <option value="Jigglypuff">Jigglypuff</option>
                    <option value="Joker">Joker</option>
                    <option value="Kazuya">Kazuya</option>
                    <option value="Ken">Ken</option>
                    <option value="King Dedede">King Dedede</option>
                    <option value="King K Rool">King K Rool</option>
                    <option value="Kirby">Kirby</option>
                    <option value="Link">Link</option>
                    <option value="Little Mac">Little Mac</option>
                    <option value="Lucario">Lucario</option>
                    <option value="Lucas">Lucas</option>
                    <option value="Lucina">Lucina</option>
                    <option value="Luigi">Luigi</option>
                    <option value="Mario">Mario</option>
                    <option value="Marth">Marth</option>
                    <option value="Mega Man">Mega Man</option>
                    <option value="Meta Knight">Meta Knight</option>
                    <option value="Mewtwo">Mewtwo</option>
                    <option value="Mii Brawler">Mii Brawler</option>
                    <option value="Mii Gunner">Mii Gunner</option>
                    <option value="Mii Swordfighter">Mii Swordfighter</option>
                    <option value="Min Min">Min Min</option>
                    <option value="Mr Game &amp; Watch">Mr Game &amp; Watch</option>
                    <option value="Ness">Ness</option>
                    <option value="Olimar">Olimar</option>
                    <option value="Pac-Man">Pac-Man</option>
                    <option value="Palutena">Palutena</option>
                    <option value="Peach">Peach</option>
                    <option value="Pichu">Pichu</option>
                    <option value="Pikachu">Pikachu</option>
                    <option value="Piranha Plant">Piranha Plant</option>
                    <option value="Pit">Pit</option>
                    <option value="Pokemon Trainer">Pokemon Trainer</option>
                    <option value="Pyra and Mythra">Pyra and Mythra</option>
                    <option value="Richter">Richter</option>
                    <option value="Ridley">Ridley</option>
                    <option value="ROB">ROB</option>
                    <option value="Robin">Robin</option>
                    <option value="Rosalina &amp; Luma">Rosalina &amp; Luma</option>
                    <option value="Roy">Roy</option>
                    <option value="Ryu">Ryu</option>
                    <option value="Samus">Samus</option>
                    <option value="Sephiroth">Sephiroth</option>
                    <option value="Sheik">Sheik</option>
                    <option value="Shulk">Shulk</option>
                    <option value="Simon">Simon</option>
                    <option value="Snake">Snake</option>
                    <option value="Sonic">Sonic</option>
                    <option value="Sora">Sora</option>
                    <option value="Steve">Steve</option>
                    <option value="Terry">Terry</option>
                    <option value="Toon Link">Toon Link</option>
                    <option value="Villager">Villager</option>
                    <option value="Wario">Wario</option>
                    <option value="Wii Fit Trainer">Wii Fit Trainer</option>
                    <option value="Wolf">Wolf</option>
                    <option value="Yoshi">Yoshi</option>
                    <option value="Young Link">Young Link</option>
                    <option value="Zelda">Zelda</option>
                    <option value="Zero Suit Samus">Zero Suit Samus</option>
                </select><br>
            </div>
            <div>
                <label>Character Alt/Color</label><br>
                <select name="player{{ i }}_alt" label="Player{{ i }} Alt" required id="player{{ i }}_alt"></select><br>
            </div>
            <div>
                <label>Custom Character Image (optional)</label><br>
                <sub>[CURRENTLY UNAVALIABLE]</sub><br>
                <input type="file" name="player{{ i }}_custom" label="Player{{ i }} Custom Image" id="player{{ i }}_custom"
                    accept="image/png, image/jpg, image/jpeg" disabled>
            </div>
            <div>
                <label>Secondary Character (optional)</label><br>
                <select name="player{{ i }}_secondary" label="Player{{ i }} Secondary" id="player{{ i }}_secondary">
                    <option value="None">None</option>
                    <option value="Banjo &amp; Kazooie">Banjo &amp; Kazooie</option>
                    <option value="Bayonetta">Bayonetta</option>
                    <option value="Bowser">Bowser</option>
                    <option value="Bowser Jr">Bowser Jr</option>
                    <option value="Byleth">Byleth</option>
                    <option value="Captain Falcon">Captain Falcon</option>
                    <option value="Chrom">Chrom</option>
                    <option value="Cloud">Cloud</option>
                    <option value="Corrin">Corrin</option>
                    <option value="Daisy">Daisy</option>
                    <option value="Dark Pit">Dark Pit</option>
                    <option value="Dark Samus">Dark Samus</option>
                    <option value="Diddy Kong">Diddy Kong</option>
                    <option value="Donkey Kong">Donkey Kong</option>
                    <option value="Dr Mario">Dr Mario</option>
                    <option value="Duck Hunt">Duck Hunt</option>
                    <option value="Falco">Falco</option>
                    <option value="Fox">Fox</option>
                    <option value="Ganondorf">Ganondorf</option>
                    <option value="Greninja">Greninja</option>
                    <option value="Hero">Hero</option>
                    <option value="Ice Climbers">Ice Climbers</option>
                    <option value="Ike">Ike</option>
                    <option value="Incineroar">Incineroar</option>
                    <option value="Inkling">Inkling</option>
                    <option value="Isabelle">Isabelle</option>
                    <option value="Jigglypuff">Jigglypuff</option>
                    <option value="Joker">Joker</option>
                    <option value="Kazuya">Kazuya</option>
                    <option value="Ken">Ken</option>
                    <option value="King Dedede">King Dedede</option>
                    <option value="King K Rool">King K Rool</option>
                    <option value="Kirby">Kirby</option>
                    <option value="Link">Link</option>
                    <option value="Little Mac">Little Mac</option>
                    <option value="Lucario">Lucario</option>
                    <option value="Lucas">Lucas</option>
                    <option value="Lucina">Lucina</option>
                    <option value="Luigi">Luigi</option>
                    <option value="Mario">Mario</option>
                    <option value="Marth">Marth</option>
                    <option value="Mega Man">Mega Man</option>
                    <option value="Meta Knight">Meta Knight</option>
                    <option value="Mewtwo">Mewtwo</option>
                    <option value="Mii Brawler">Mii Brawler</option>
                    <option value="Mii Gunner">Mii Gunner</option>
                    <option value="Mii Swordfighter">Mii Swordfighter</option>
                    <option value="Min Min">Min Min</option>
                    <option value="Mr Game &amp; Watch">Mr Game &amp; Watch</option>
                    <option value="Ness">Ness</option>
                    <option value="Olimar">Olimar</option>
                    <option value="Pac-Man">Pac-Man</option>
                    <option value="Palutena">Palutena</option>
                    <option value="Peach">Peach</option>
                    <option value="Pichu">Pichu</option>
                    <option value="Pikachu">Pikachu</option>
                    <option value="Piranha Plant">Piranha Plant</option>
                    <option value="Pit">Pit</option>
                    <option value="Pokemon Trainer">Pokemon Trainer</option>
                    <option value="Pyra and Mythra">Pyra and Mythra</option>
                    <option value="Richter">Richter</option>
                    <option value="Ridley">Ridley</option>
                    <option value="ROB">ROB</option>
                    <option value="Robin">Robin</option>
                    <option value="Rosalina &amp; Luma">Rosalina &amp; Luma</option>
                    <option value="Roy">Roy</option>
                    <option value="Ryu">Ryu</option>
                    <option value="Samus">Samus</option>
                    <option value="Sephiroth">Sephiroth</option>
                    <option value="Sheik">Sheik</option>
                    <option value="Shulk">Shulk</option>
                    <option value="Simon">Simon</option>
                    <option value="Snake">Snake</option>
                    <option value="Sonic">Sonic</option>
                    <option value="Sora">Sora</option>
                    <option value="Steve">Steve</option>
                    <option value="Terry">Terry</option>
                    <option value="Toon Link">Toon Link</option>
                    <option value="Villager">Villager</option>
                    <option value="Wario">Wario</option>
                    <option value="Wii Fit Trainer">Wii Fit Trainer</option>
                    <option value="Wolf">Wolf</option>
                    <option value="Yoshi">Yoshi</option>
                    <option value="Young Link">Young Link</option>
                    <option value="Zelda">Zelda</option>
                    <option value="Zero Suit Samus">Zero Suit Samus</option>
                </select><br>
            </div>
            <div>
                <label>Tertiary Character (optional)</label><br>
                <select name="player{{ i }}_tertiary" label="Player{{ i }} Tertiary" id="player{{ i }}_tertiary">
                    <option value="None">None</option>
                    <option value="Banjo &amp; Kazooie">Banjo &amp; Kazooie</option>
                    <option value="Bayonetta">Bayonetta</option>
                    <option value="Bowser">Bowser</option>
                    <option value="Bowser Jr">Bowser Jr</option>
                    <option value="Byleth">Byleth</option>
                    <option value="Captain Falcon">Captain Falcon</option>
                    <option value="Chrom">Chrom</option>
                    <option value="Cloud">Cloud</option>
                    <option value="Corrin">Corrin</option>
                    <option value="Daisy">Daisy</option>
                    <option value="Dark Pit">Dark Pit</option>
                    <option value="Dark Samus">Dark Samus</option>
                    <option value="Diddy Kong">Diddy Kong</option>
                    <option value="Donkey Kong">Donkey Kong</option>
                    <option value="Dr Mario">Dr Mario</option>
                    <option value="Duck Hunt">Duck Hunt</option>
                    <option value="Falco">Falco</option>
                    <option value="Fox">Fox</option>
                    <option value="Ganondorf">Ganondorf</option>
                    <option value="Greninja">Greninja</option>
                    <option value="Hero">Hero</option>
                    <option value="Ice Climbers">Ice Climbers</option>
                    <option value="Ike">Ike</option>
                    <option value="Incineroar">Incineroar</option>
                    <option value="Inkling">Inkling</option>
                    <option value="Isabelle">Isabelle</option>
                    <option value="Jigglypuff">Jigglypuff</option>
                    <option value="Joker">Joker</option>
                    <option value="Kazuya">Kazuya</option>
                    <option value="Ken">Ken</option>
                    <option value="King Dedede">King Dedede</option>
                    <option value="King K Rool">King K Rool</option>
                    <option value="Kirby">Kirby</option>
                    <option value="Link">Link</option>
                    <option value="Little Mac">Little Mac</option>
                    <option value="Lucario">Lucario</option>
                    <option value="Lucas">Lucas</option>
                    <option value="Lucina">Lucina</option>
                    <option value="Luigi">Luigi</option>
                    <option value="Mario">Mario</option>
                    <option value="Marth">Marth</option>
                    <option value="Mega Man">Mega Man</option>
                    <option value="Meta Knight">Meta Knight</option>
                    <option value="Mewtwo">Mewtwo</option>
                    <option value="Mii Brawler">Mii Brawler</option>
                    <option value="Mii Gunner">Mii Gunner</option>
                    <option value="Mii Swordfighter">Mii Swordfighter</option>
                    <option value="Min Min">Min Min</option>
                    <option value="Mr Game &amp; Watch">Mr Game &amp; Watch</option>
                    <option value="Ness">Ness</option>
                    <option value="Olimar">Olimar</option>
                    <option value="Pac-Man">Pac-Man</option>
                    <option value="Palutena">Palutena</option>
                    <option value="Peach">Peach</option>
                    <option value="Pichu">Pichu</option>
                    <option value="Pikachu">Pikachu</option>
                    <option value="Piranha Plant">Piranha Plant</option>
                    <option value="Pit">Pit</option>
                    <option value="Pokemon Trainer">Pokemon Trainer</option>
                    <option value="Pyra and Mythra">Pyra and Mythra</option>
                    <option value="Richter">Richter</option>
                    <option value="Ridley">Ridley</option>
                    <option value="ROB">ROB</option>
                    <option value="Robin">Robin</option>
                    <option value="Rosalina &amp; Luma">Rosalina &amp; Luma</option>
                    <option value="Roy">Roy</option>
                    <option value="Ryu">Ryu</option>
                    <option value="Samus">Samus</option>
                    <option value="Sephiroth">Sephiroth</option>
                    <option value="Sheik">Sheik</option>
                    <option value="Shulk">Shulk</option>
                    <option value="Simon">Simon</option>
                    <option value="Snake">Snake</option>
                    <option value="Sonic">Sonic</option>
                    <option value="Sora">Sora</option>
                    <option value="Steve">Steve</option>
                    <option value="Terry">Terry</option>
                    <option value="Toon Link">Toon Link</option>
                    <option value="Villager">Villager</option>
                    <option value="Wario">Wario</option>
                    <option value="Wii Fit Trainer">Wii Fit Trainer</option>
                    <option value="Wolf">Wolf</option>
                    <option value="Yoshi">Yoshi</option>
                    <option value="Young Link">Young Link</option>
                    <option value="Zelda">Zelda</option>
                    <option value="Zero Suit Samus">Zero Suit Samus</option>
                </select>
            </div>
        </fieldset>
        {% endfor %}
    </div>

    <fieldset>
        <label>Bracket format:</label>
        <div>
            <input type="radio" id="double_elim" name="elim_type" value="double_elim" checked>
            <label for="double_elim">Double Elimination</label>
        </div>
        <div>
            <input type="radio" id="single_elim" name="elim_type" value="single_elim">
            <label for="single_elim">Single Elimination</label>
        </div>
        <div>
            <input type="radio" id="round_robin" name="elim_type" value="round_robin">
            <label for="round_robin">Round Robin, no bracket</label>
        </div>
    </fieldset>

    <fieldset>
        <input type="checkbox" name="redemption_check" id="redemption_check" onclick="addRedemption()">
        <label for="redemption_check">Report Redemption Winner</label>
        <div id="redemption_bracket"></div>
    </fieldset>
    <fieldset>
        <input type="checkbox" name="side_check" id="side_check" onclick="addSideEvent()">
        <label for="side_check">Report Side Event Winner</label>
        <div id="side_bracket"></div>
    </fieldset>

    <h4>MAKE SURE DATA IS CORRECT!! It does not save.</h4>
    <input type="submit" value="GENERATE">
</form>

<div class="row" style="width: 80%; margin-left: 10%">
    {% if graphic %}
        <h2>Result</h2>
        <img style="width: 100%; height: auto;" src="{% static 'graphic.png' %}">    
    {% else %}
        <h2>Examples</h2>
        <div style="display: flex;">
            <img style="width: 50%; height: auto; margin-right: 10px;" src="{% static 'sampleUVA.png' %}">
            <img style="width: 50%; height: auto;" src="{% static 'sampleCUT.png' %}">
        </div>
    {% endif %}
</div>

<footer class="text-muted">
    <br>
    Created by Luke McMeans (2024)
    <br><br>
    Inspired by <a href="https://www.top8er.com/">top8er.com</a> by @Riokaru and @Elenriqu3
    <br><br>
    Not affiliated with the University of Virginia nor the City of Charlottesville
</footer>

<script>
    function updateAlts(characterID, selectID) {
        const characterSelect = document.getElementById(characterID);
        const altSelect = document.getElementById(selectID);

        altSelect.innerHTML = '';
        const character = characterSelect.value.toString();
        fetch("{% static 'alts.json' %}")
            .then(response => {
                return response.json();
            })
            .then(jsonData => {
                const alts = jsonData[character];
                for (i = 0; i < alts.length; i++) {
                    const option = document.createElement('option');
                    option.text = i + " - " + alts[i];
                    altSelect.add(option);
                }
            });
    }
    
    function changeEvent() {
        const eventRadios = document.querySelectorAll('input[name="event_type"]');
        const dynamicFieldset = document.getElementById('dynamic_fieldset');

        eventRadios.forEach(radio => {
            radio.addEventListener('change', () => {
                if (radio.value === 'smashatuva') {
                    dynamicFieldset.innerHTML = `
                        <label>Semester:</label>
                        <div>
                            <input type="radio" id="uva_fall" name="semester" value="uva_fall" checked>
                            <label for="uva_fall">Fall</label>
                        </div>
                        <div>
                            <input type="radio" id="uva_spring" name="semester" value="uva_spring">
                            <label for="uva_spring">Spring</label>
                        </div>
                        <label>What # Smash@UVA is this (for the semester)?</label><br>
                    `;
                } else if (radio.value === 'thecut') {
                    dynamicFieldset.innerHTML = `
                        <label>What # CUT is this?</label><br>  
                    `;
                }
                dynamicFieldset.innerHTML += `
                    <input type="number" name="event_number" label="Event Number" id="event_number" step="0.5" required>
                    <br>
                    <label>Event Date:</label><br>
                    <input type="date" name="event_date" id="event_date" required><br>
                    <label>Number of Participants:</label><br>
                    <input type="number" name="participants" id="participants" required>
                `;
            });
        });
    }

    function addRedemption(){
        const checkbox = document.getElementById('redemption_check');
        const redemptionDiv = document.getElementById('redemption_bracket');

        if(checkbox.checked){
            redemptionDiv.innerHTML = `
                    <h2>Redemption Winnner</h2>
                    <div>
                        <label>Player Name (with tags)</label><br>
                        <sub>Ex: BN/KML|John Lion</sub><br>
                        <input type="text" name="redemption_name" maxlength="40" label="Redemption Name" required="True" id="redemption_name">
                    </div>
                    <div>
                        <label>Primary Character</label><br>
                        <select name="redemption_primary" label="Redemption Primary" required id="redemption_primary" onchange="updateAlts('redemption_primary', 'redemption_alt')">
                            <option value="Random">Random</option>
                            <option value="Banjo &amp; Kazooie">Banjo &amp; Kazooie</option>
                            <option value="Bayonetta">Bayonetta</option>
                            <option value="Bowser">Bowser</option>
                            <option value="Bowser Jr">Bowser Jr</option>
                            <option value="Byleth">Byleth</option>
                            <option value="Captain Falcon">Captain Falcon</option>
                            <option value="Chrom">Chrom</option>
                            <option value="Cloud">Cloud</option>
                            <option value="Corrin">Corrin</option>
                            <option value="Daisy">Daisy</option>
                            <option value="Dark Pit">Dark Pit</option>
                            <option value="Dark Samus">Dark Samus</option>
                            <option value="Diddy Kong">Diddy Kong</option>
                            <option value="Donkey Kong">Donkey Kong</option>
                            <option value="Dr Mario">Dr Mario</option>
                            <option value="Duck Hunt">Duck Hunt</option>
                            <option value="Falco">Falco</option>
                            <option value="Fox">Fox</option>
                            <option value="Ganondorf">Ganondorf</option>
                            <option value="Greninja">Greninja</option>
                            <option value="Hero">Hero</option>
                            <option value="Ice Climbers">Ice Climbers</option>
                            <option value="Ike">Ike</option>
                            <option value="Incineroar">Incineroar</option>
                            <option value="Inkling">Inkling</option>
                            <option value="Isabelle">Isabelle</option>
                            <option value="Jigglypuff">Jigglypuff</option>
                            <option value="Joker">Joker</option>
                            <option value="Kazuya">Kazuya</option>
                            <option value="Ken">Ken</option>
                            <option value="King Dedede">King Dedede</option>
                            <option value="King K Rool">King K Rool</option>
                            <option value="Kirby">Kirby</option>
                            <option value="Link">Link</option>
                            <option value="Little Mac">Little Mac</option>
                            <option value="Lucario">Lucario</option>
                            <option value="Lucas">Lucas</option>
                            <option value="Lucina">Lucina</option>
                            <option value="Luigi">Luigi</option>
                            <option value="Mario">Mario</option>
                            <option value="Marth">Marth</option>
                            <option value="Mega Man">Mega Man</option>
                            <option value="Meta Knight">Meta Knight</option>
                            <option value="Mewtwo">Mewtwo</option>
                            <option value="Mii Brawler">Mii Brawler</option>
                            <option value="Mii Gunner">Mii Gunner</option>
                            <option value="Mii Swordfighter">Mii Swordfighter</option>
                            <option value="Min Min">Min Min</option>
                            <option value="Mr Game &amp; Watch">Mr Game &amp; Watch</option>
                            <option value="Ness">Ness</option>
                            <option value="Olimar">Olimar</option>
                            <option value="Pac-Man">Pac-Man</option>
                            <option value="Palutena">Palutena</option>
                            <option value="Peach">Peach</option>
                            <option value="Pichu">Pichu</option>
                            <option value="Pikachu">Pikachu</option>
                            <option value="Piranha Plant">Piranha Plant</option>
                            <option value="Pit">Pit</option>
                            <option value="Pokemon Trainer">Pokemon Trainer</option>
                            <option value="Pyra and Mythra">Pyra and Mythra</option>
                            <option value="Richter">Richter</option>
                            <option value="Ridley">Ridley</option>
                            <option value="ROB">ROB</option>
                            <option value="Robin">Robin</option>
                            <option value="Rosalina &amp; Luma">Rosalina &amp; Luma</option>
                            <option value="Roy">Roy</option>
                            <option value="Ryu">Ryu</option>
                            <option value="Samus">Samus</option>
                            <option value="Sephiroth">Sephiroth</option>
                            <option value="Sheik">Sheik</option>
                            <option value="Shulk">Shulk</option>
                            <option value="Simon">Simon</option>
                            <option value="Snake">Snake</option>
                            <option value="Sonic">Sonic</option>
                            <option value="Sora">Sora</option>
                            <option value="Steve">Steve</option>
                            <option value="Terry">Terry</option>
                            <option value="Toon Link">Toon Link</option>
                            <option value="Villager">Villager</option>
                            <option value="Wario">Wario</option>
                            <option value="Wii Fit Trainer">Wii Fit Trainer</option>
                            <option value="Wolf">Wolf</option>
                            <option value="Yoshi">Yoshi</option>
                            <option value="Young Link">Young Link</option>
                            <option value="Zelda">Zelda</option>
                            <option value="Zero Suit Samus">Zero Suit Samus</option>
                        </select><br>
                    </div>
            `;
        } else {
            redemptionDiv.innerHTML = ``;
        }
    }
    function addSideEvent(){
        const checkbox = document.getElementById('side_check');
        const sideDiv = document.getElementById('side_bracket');

        if(checkbox.checked){
            sideDiv.innerHTML = `
                    <h2>Side Bracket Winnner</h2>
                    <div>
                        <label>Side Event Name:</label><br>
                        <input type="text" name="side_event" label="SideEvent Name" required="True" id="side_event" max="30">
                    </div>
                    <div>
                        <label>Player Name(s) (no tags if multiple winners)</label><br>
                        <sub>Ex: BN/KML|John Lion</sub><br>
                        <sub>Ex: John Lion & Mr. Cville</sub><br>
                        <input type="text" name="side_name" maxlength="80" label="SideEvent Name" required="True" id="side_name">
                    </div>
            `;
        } else {
            sideDiv.innerHTML = ``;
        }
    }

    updateAlts("player1_primary", "player1_alt");
    updateAlts("player2_primary", "player2_alt");
    updateAlts("player3_primary", "player3_alt");
    updateAlts("player4_primary", "player4_alt");
    updateAlts("player5_primary", "player5_alt");
    updateAlts("player6_primary", "player6_alt");
    updateAlts("player7_primary", "player7_alt");
    updateAlts("player8_primary", "player8_alt");
    changeEvent();
    addRedemption();
    addSideEvent();
</script>