{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<div class="gallery-page">
    <div class="gallery-container">
        <h1 class="gallery-title">Gallery</h1>
        <div class="graphics-grid">
            {% for graphic in graphics %}
            <div class="graphic-item">
                <a href="{% url 'result_view' graphic.id }" class="graphic-link">
                    <img class="graphic-image" src="{{ graphic.image }}" alt="Tournament graphic: {{ graphic.title }}">
                </a>
                <a href="{% url 'delete' graphic.id %}" class="delete-link">Delete {{ graphic.title }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="gallery-actions">
            <a href="{% url 'homepage' %}" class="btn btn-primary">⏎ Return to Homepage</a>
        </div>
    </div>
</div>
{% endblock content %}